<script>var target = '{{id}}'; var user = '{{user}}';</script>

{{#unless isLogged}}
<div class="com-guest">
	请登录添加评论
</div>
{{/unless}}
{{#if isLogged}}
    {{#unless isAuthorized}}
    <div class="com-guest">
        请在"{{urlDomain}}"域中注册以添加评论
    </div>
    {{/unless}}
{{/if}}

<div class="row com-stream">
	
	<div class="row com-sort {{#unless reviews}}com-sort-hidden{{/unless}}">
		<ul>
			<li>
				<a href="#" id="newest">最新</a>
			</li>
			<li>
				<a href="#" id="oldest">最老</a>
			</li>
			<li>
				<a href="#" class="selected" id="popular">流行</a>
			</li>
		</ul>
	</div>

	<div id="stream">
		{{#if reviews}}
			{{#each reviews}}
				{{> activity}}
			{{/each}}
		{{else}}
			<p class="com-first-review">
				成为第一个评论！
			</p>
		{{/if}}
	</div>
	{{#if more}}
		<div id="more">
			<p class="load-more" value="{{offset}}">
			<a href="#" >更多</a>
			</p>
		</div>
	{{/if}}
	<div id="empty_list"></div>
</div>
