<div class="row tool-bar-new">
    <div class="col-md-9 col-sm-12 col-xs-12">
        <ul class="nav nav-pills pull-left">
            <li class="dropdown closed">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                    移动应用 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li {{#ifCond active "==" "list-assets"}}class="active"{{/ifCond}}><a href="{{url "/assets/mobileapp/"}}">所有移动应用</a></li>
                    {{#if createMobileAppPerm}}
                        <li {{#ifCond active "==" "add-mobileapp"}}class="active"{{/ifCond}}><a href="{{url "/asset/mobileapp"}}"> 添加新移动应用</a></li>
                    {{/if}}
                </ul>
            </li>


            {{#if mobileNotificationCount}}
                <li class="dropdown-notification">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="badge">{{mobileNotificationCount}}</span>
                        Notifications <span class="caret"></span></a>
                    <ul class="dropdown-menu notifications" role="menu">
                        {{#each mobileNotifications}}
                            <li><a href="{{this.url}}">Mobile app <strong>{{this.appname}}</strong> has been rejected due to : {{this.notification}}</a></li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}
        </ul>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="">
            <div class="input-group">
                <input class="form-control" type="text" id="inp_searchAsset" placeholder="{{t "搜索移动应用.."}}" value="{{query}}">
                <div class="input-group-addon mobile-search-fix"><a class="" id="search-button"> <i class="icon-search"></i> </a> </div>
                <input type="hidden" id="search-prefix" value="{{shortName}}"/>
            </div>
        </div>
    </div>

</div>

<div id="modal-redirect" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-body">
		<div class="modal-loading"></div>
		<p>
			将您重定向到新的asset版本...
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary">
			现在重定向
		</button>
	</div>
</div>
